@import "bourbon@5.*";
@import "susy";
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Gochi Hand', cursive;
  color: white;
  @include prefixer(flex-direction, column, ("webkit", "moz"));
  @include prefixer(display, flex, ("webkit", "moz"));
  @include prefixer(justify-content, center, ("webkit", "moz"));
  @include prefixer(align-items, center, ("webkit", "moz"));
  font-size: 16px;
}

.landscape {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: #033fff;
  overflow: hidden;
  text-align: center;
  @include prefixer(display, flex, ("webkit", "moz"));
  @include prefixer(flex-direction, column, ("webkit", "moz"));
  @include prefixer(justify-content, center, ("webkit", "moz"));
  // @include prefixer(align-items, center, ("webkit", "moz"));
  p {
    font-size: 1.5rem;
    letter-spacing: 0.4px;
  }
}

.bumber {
  position: absolute;
  bottom: 0;
  width: 110%;
  @include prefixer(display, flex, ("webkit", "moz"));
  @include prefixer(justify-content, space-between, ("webkit", "moz"));
  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: #efeaea;
    border-radius: 10px 10px 10px 0;
  }
  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: #efeaea;
    border-radius: 10px 5px 0px 10px;
  }
}

.car {
  animation: run 0.5s ease-in infinite;
  background: #ff1f5a;
  border-radius: 30px 30px 8px 8px;
  width: 120px;
  height: 80px;
  position: relative;
  @include prefixer(display, flex, ("webkit", "moz"));
  @include prefixer(justify-content, center, ("webkit", "moz"));
  transform: skewX(-5deg);
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    display: block;
    background-color: #000000;
    width: 105%;
    height: 5px;
    border-bottom-left-radius: 50px;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 30%;
    height: 2px;
    width: 10px;
    display: block;
    background-color: #ece8d9;
  }
  .music {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    .note {
      color: white;
      animation: music 3s linear infinite;
      position: absolute;
      &.delay-1 {
         animation-delay: 1s;
      }
      &.delay-2 {
         animation-delay: 2s;
      }
       &.delay-3 {
         animation-delay: 3s;
      }
    }
  }
  .decoration {
    width: 100%;
    height: 60%;
    position: absolute;
    background-color: #edf9fc;
    border-radius: 16px 20px 0px 0;
    @include prefixer(display, flex, ("webkit", "moz"));
    @include prefixer(justify-content, flex-end, ("webkit", "moz"));
    @include prefixer(align-items, center, ("webkit", "moz"));
    overflow: hidden;
    .doors {
      height: 60%;
      width: 96%;
      @include prefixer(display, flex, ("webkit", "moz"));
      @include prefixer(justify-content, space-around, ("webkit", "moz"));
      position: relative;
      top: 6px;
      .door {
        display: block;
        width: 50%;
        height: 100%;
        position: relative;
        background-color: #0839d6;
        border-radius: 8px 8px 4px 4px;
        margin: 0 2px;
        overflow: hidden;
        @include prefixer(display, flex, ("webkit", "moz"));
        @include prefixer(justify-content, flex-end, ("webkit", "moz"));
        &:after {
          content: "";
          display: block;
          width: 25%;
          height: 100%;
          background: rgba(255, 255, 255, 0.5);
          margin-left: 2px;
        }
        &:before {
          content: "";
          display: block;
          width: 4%;
          height: 100%;
          background: rgba(255, 255, 255, 0.5);
          // background: red
        }
        &.cabin {
          border-radius: 8px 0 0 4px;
          margin-right: 0;
          width: 100px;
        }
      }
    }
  }
  .light {
    width: 4px;
    height: 8px;
    border-radius: 100px;
    background: white;
    position: absolute;
    right: 2px;
    bottom: 20px;
  }

  .wheels-group {
    @include prefixer(display, flex, ("webkit", "moz"));
    @include prefixer(justify-content,space-around, ("webkit", "moz"));
    position: absolute;
    width: 100%;
    bottom: 0;
    .wheel {
      width: 40px;
      height: 20px;
      background-color: #000000;
      animation: wheel-scale 0.5s ease-in infinite;
      @include prefixer(display, flex, ("webkit", "moz"));
      @include prefixer(justify-content,center, ("webkit", "moz"));
      @include prefixer(align-items,flex-end, ("webkit", "moz"));
      @include border-top-radius(100px);
      @include border-bottom-radius(0);
      &:before {
        content: "";
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        background-color: #45315d;
        @include border-top-radius(100px);
        @include border-bottom-radius(100px);
        top: 80%;
      }
      &:after {
        width: 22px;
        height: 22px;
        @include border-top-radius(100px);
        @include border-bottom-radius(100px);
        background-color: #edf9fc;
        content: "";
        position: absolute;
        top: 48%;
        border: 6px solid #312046;
        box-sizing: border-box;
      }
    }
  }
}

.mountains {
  position: absolute;
  width: 100%;
  // background: yellow;
  z-index: 1;
  bottom: -30px;
  @include prefixer(display, flex, ("webkit", "moz"));
  @include prefixer(justify-content, space-around, ("webkit", "moz"));
  .mountain {
    background: #2c3adb;
    animation: mountain-run 10s ease-in infinite;
    position: relative;
    right: 9999px;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
  }
}

.wrapper {
  width: 18vw;
  @include prefixer(display, flex, ("webkit", "moz"));
  @include prefixer(justify-content, center, ("webkit", "moz"));
  position: relative;
  &:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #45315d;
    position: absolute;
    bottom: -20px;
  }
  &:before {
    content: "";
    height: 2px;
    width: 10px;
    background-color: #fff;
    position: absolute;
    bottom: -20px;
    animation: road-run 0.5s ease-in infinite;
    z-index: 2;
  }
}

@keyframes run {
  0% {
    top: 0px;
  }
  50% {
    top: 4px;
  }
  100% {
    top: 0;
  }
}

@keyframes wheel-scale {
  0% {
    transform: scaleX(0.7);
  }
  50% {
    transform: scaleX(0.9);
    height: 20px;
  }
  100% {
    transform: scaleX(0.7);
  }
}

@keyframes mountain-run {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

@keyframes road-run {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

@keyframes music {
  0% {
    font-size: .5rem;
    opacity: 0;
  }
  50% {
    opacity: 1;
            margin-top: -50px;
  }
  100% {
                margin-top: -50px;
        margin-left: -100px;
    font-size: 1rem;
    opacity: 0;
  }
}
