.main-container-selection {
  width: 100%;
  background-size:700px;
}

#map {
  width: 100%;
  height: calc(100vh - 70px);
}

.sticky {
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 70px !important;
}
