body{
  position:relative;
  margin:0;
<<<<<<< HEAD
  // height: 100vh;
  background-image: url("banner.jpg");
  background-size: cover;
=======
  height: 100vh;
>>>>>>> 3068273576b5709672790b9676ac36f1b31b8a77
}

.login {
    margin: 10px;
    color: #8a8282;
    background-color: white;
    flex-direction: column;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 373px;
    position: absolute;
    top: 135px;
    height: 440px;
    left: 16%;
    padding: 32px;
}

.form-actions{
  text-align: center;
  color:#aaa5a5
}

.login .btn{
  color:$orange;
}

#map {
  position: absolute;
  top: 600px;
}

#waiting {
  position: absolute;
  top: 900px;
}
