body{
  position:relative;
  margin:0;
  height: 100vh;
}

.login {
    margin: 10px;
    color: #8a8282;
    background-color: white;
    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 373px;
    position: absolute;
    top: 135px;
    height: 440px;
    left: 16%;
    padding: 32px;
}

.form-actions{
  text-align: center;
  color:#aaa5a5
}

.login .btn{
  color:$orange;
}

#map {
  flex: 1 0 600px;
}

#waiting {
  position: absolute;
  top: 1200px;
}

h6 {
  display: none;
}

.put-map-right {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#results {
  flex: 1 0 400px;
}


