#search #f{
  position:relative;
  top:69px;
  display:flex;
  justify-content:flex-start;
  padding:5px;
}

#search .btn{
  color:white;
  border-radius:5px;
}

#city{
  padding-right:3px;
}
#budget{
 padding-right:3px;
}

.loader {
  display: none;
  text-align: center;

  img {
    width: 200px;
    margin-top: 20vh;
  }
}

.loader.visible {
  display: block;
}
