#search #f{
  position:relative;
  top:69px;
  display:flex;
  justify-content:flex-start;
  padding:5px;
}

#search .btn{
  color:white;
  border-radius:5px;
}

#city{
  padding-right:3px;
}
#budget{
 padding-right:3px;
}

.loader{
  display: none;
  position: absolute;
  margin: 132px;
}
