
<!DOCTYPE html>
<html>
<head>
  <title>AJAX Autocomplete ⚡️</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
<!--  <script type="text/javascript" src="script.js"></script> --> -->
</head>
<body>

  <div id="container">
    <input type="text" id="search">
    <ul id="results">
      <li>Resultat 1 (TODO: remove)</li>
      <li>Resultat 2 (TODO: remove)</li>
    </ul>
  </div>
  <input type="submit">

  <script src="script.js"></script>
</body>
</html>

