<div id="map" style="height: 300px; width: 600px"></div>

<h1>Prices</h1>
<% @prices.each do |appt| %>
<div>
  <%= appt %>
</div>
<% end %>
<br>
<h1>Rents</h1>
<% @rents.each do |appt| %>
<div>
  <%= appt %>
</div>
<% end %>


