<form action="<%= searches_path %>" method="get">
  <div class="formulaire">
    <div class="form-inl">
      <input id="budget" class="controls" name="search[budget]" type="number" placeholder="Budget">
    </div>
    <div class="form-inl">
      <textarea name="search[city]" id="city"></textarea>
    </div>
    <div class="form-inl">
      <textarea name="search[zipcode]" id="zipcode"></textarea>
    </div>
    <div class="form-inl">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    </div>
    <div class="form-inl">
      <input type="submit" id="button">
    </div>
  </div>
</form>

<div class="createpage">
  <%= image_tag "logo.png", height: 200 %>

  <div id="map" style="height: 300px; width: 600px"></div>

  <div id="results">
    <h1><%= @results.size %></h1>
    <% @results.each do |result| %>
      <%= render 'result', result: result %>
    <% end %>
  </div>
</div>


