.favselection .appartment {
  .metric.main {
    margin-right: 60px;
    h2 {
      font-size: 31px;
    }
  }
  .metric {
    margin-right: 0px;

    h2 {
      font-size: 25px;
    }
  }
}

#remove-favorite {
  position: absolute;
  bottom:25px;
  right:25px;
  color:$orange;
}

#remove-favorite:hover{
  font-size:20px;
}

#show-favorite {
  position: absolute;
  bottom:25px;
  right:70px;
  color:$orange;
}
#show-favorite:hover{
  font-size:20px;
}
