.container {
  position: absolute;
  top: 970px;
}


.formulaire {
  // position: absolute;
  // top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-inl {
  flex: 0 0 auto;
  padding: 30px;
}

input {
  border-radius: 5px;
  color:#3b3b3b;
}

#button{
  background-color:$orange;
}

#button:hover{
  font-size:19px;
  background-color:#e37718;
  color:#4f4848;
  opacity:0.9;
}

textarea {
  display:none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

#map2 {
  position: absolute;
  top: 150px;
}

.appt_image {
  padding: 10px;
  margin:10px;
  flex: 0 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid gray;
}

.parametres {
  flex: 0 0 auto;
  text-align:left;
  padding-bottom:25px;
}

.appartment {
  display: flex;
  padding: 15px;
  margin: 15px;
  background-color: white;
  color: #444;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  hr {
    margin: 7px 0;
  }

  .appartment-image img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 3px;
  }

  .appartment-infos {
    flex: 1 1 auto;
    position: relative;
    margin-left: 15px;

    h2 {
      margin-top: 0;
    }

    form {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    p {
      margin: 0;
    }
  }

  .metrics {
    display: flex;

    .metric {
      margin-right: 60px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

      h2 {
        font-size: 31px;
        margin-top: 7px;
      }
    }

    .main {
      h2 {
        font-size: 38px;
        margin-top: 0px;
      }
    }

    label {
      color: #666;
    }
  }

  .green {
    color: $green;
  }
}

.fa-heart:before {
  color:$orange;
}

.fa-heart:hover{
  font-size:20px;
}
.select_info {
  color:$green;

}
