<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body{
        background-color:#E5E5E5;
        text-align:center;
      }
      h4{font-size:23px;}
      h1,h2,h3,h4{
        color:#ff7b00;
      }
      li{
        display:none;
      }
      img{
        padding: 10px;
        margin: 10px;
        border-radius: 3px;
        box-shadow:1px 1px 1px black;*/
        height: 200px;
        width: 200px;
        -o-object-fit: cover;
        object-fit: cover;
      }
      /*logo*/
      .logo img{
        display:-webkit-box;
        height:100px;
        width:100px;
      }
      /*header*/
      #header {
        text-align:-webkit-center;
        margin: 0 auto;
      }
      #mail{
        text-align:-webkit-center;
      }
      /*card*/
      .annonce{
        height: 250px;
        width: 700px;
        display: flex;
        padding: 15px;
        margin: 15px;
        background-color: white;
        color: #444;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
      }
      .annonce:hover{
        box-shadow:3px 3px 3px black;
      }
      .description{
        flex: 1 1 auto;
        text-align: left;
        position: relative;
        padding-bottom: 25px;
        margin-left: 15px;
      }
      .description .metrics {
        display: flex;
      }
      .metric {
        margin-right: 60px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      }

      .description .green{
        color: #32B796;
        font-family: "Montserrat", "Helvetica", "sans-serif";
        font-weight: 500;
        line-height: 1.1;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
