<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body{
        background-color:#E5E5E5;
        text-align:center;
        border:solid 1px black;
      }
      h1,h2,h3,h4{
        color:#ff7b00;
      }
      li{
        display:none;
      }
      img{
        padding: 10px;
        margin: 10px;
        flex: 0 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 200px;
        border-radius: 3px;
        box-shadow:1px 1px 1px black;
      }
      #mail{
        text-align:-webkit-center;
      }
      .annonce{
        margin: 15px 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        height: 250px;
        width: 700px;
        border-radius: 5px;
        background-color:white;
        box-shadow:1px 1px 1px black;
        transition-property:transform;
        transition-duration:1s;
      }
      .annonce:hover{
        transform: translateX(50px);
        box-shadow:3px 3px 3px black;
      }
      .description{
        flex: 0 0 auto;
        text-align: left;
        padding-bottom: 25px;
      }
      .logo img{
        display: -webkit-box;
        height:100px;
        width:100px;
      }
      #header {
        display:flex;
        text-align:-webkit-center;
        border-bottom:solid 1px black;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
