<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body{
        background-color: white;
      }
      h1{
        color:#ff7b00;
      }
      h2,h3,h4{
        color:#ff7b00;
      }
      li{
        display:none;
      }
      img{
        padding: 10px;
        margin: 10px;
        flex: 0 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
        width: 250px;
        height: 200px;
      }

      .all{
        background-color: #f7f7f7;
        position: absolute;
        align-items: center;
        margin: auto;
        margin: center;
        margin-left: 200px;
        width: 1000px;
        width: 1000px;
      }
      #mail{
        text-align:-webkit-center;
      }
      .annonce{
        margin: 15px 15px;
        display: flex;
        justify-content: space-around;
        align-items: justify-content;
        position: relative;
        width: 700px;
        border-radius: 5px;
        background-color:white;
        transition-property:transform;
        transition-duration:1s;
      }

      .description{
        flex: 0 0 auto;
        text-align: left;
        padding-bottom: 25px;
      }
      .logo img{
        background-color: white;
        display: -webkit-box;
        height:74px;
        width: 135px;
      }
      #header {
        text-align:-webkit-center;
        margin: 0 auto;
      }

      .page{
        border-radius: 3px solid black;
        margin-left: 173px;
        color: white;
      }

      p{
        color:#9b9b9b;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
